doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login Page
        //- script.
        //-     window.addEventListener("beforeunload", async (event) =>{
        //-         try {
        //-             const response = await fetch('/user/logout', {
        //-                 method: 'POST',
        //-                 credentials: 'same-origin' // 保持同一站點的 cookie
        //-             });
        //-             console.log('Session deleted successfully');
        //-         } catch (error) {
        //-             console.log('Error deleting session:', error);
        //-         }
        //-     });
    body 
        h1 Login Page
        if success_msg
            h2 #{success_msg}
        if warning_msg
            h2 #{warning_msg}
        form(method="POST", action="/user/login")
            label(for="username") Username 
            input(type="text", name="username" required)
            label(for="password") Password 
            input(type="password", name="password" required)
            input(type="submit", value="Login")
        br
        a(href="/user/register") Register