extends layout

block styles
    script(src="https://accounts.google.com/gsi/client" async defer)

block content
    form(method="POST", action="/user/login")
        .form-group
            label(for="username") Username 
            input(type="text", name="username" required)
        .form-group
            label(for="password") Password 
            input(type="password", name="password" required)
        button(type="submit") Login
    
    .divider
        span OR
    
    a.google-btn(href="/user/googleLogin")
        span.google-icon
        |Sign in with Google
    
    .auth-footer
        span Don't have an account? 
        a(href="/user/register") Register