doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title User Page
    body 
        h1 email：#{email}
        form#logoutForm(action="/user/logout" method="POST")
            button(type="submit") Logout
