extends layout

block content
    form(method="POST", action="/user/register", id="registerForm")
        .form-group
            label(for="username") Email
            input(type="email", name="username", required)
        .form-group
            label(for="password") Password
            input(type="password", name="password", required)
        .form-group
            label(for="confirmPassword") Confirm Password
            input(type="password", name="confirmPassword", required)
        button(type="submit") Register
    
    .auth-footer
        span Already have an account? 
        a(href="/user/login") Login